 /*navgation*/
 /*ul */

 #navdiv,
 .navul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
     position: fixed;
     top: 0;
     width: 100%;
     transition: 0.4;
     height: 46px;
     z-index: 15;
 }
 /*ul li */

 .navul .navli {
     float: left;
 }
 /*li a */

 .navli a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     width: 150px;

     display: inline-block;
     position: relative;
     transition: 0.5s;

     text-decoration-line: none;
 }
 /*li a*/

 .navli a:hover {
     background-color: #111;
     transition: 0.5s;
 }
 /*li a*/

 .navli a:after {
     content: ' »';
     opacity: 0;
     top: 0;
     /* right: -20px; */
     transition: 0.5s;
     text-decoration-line: none;
 }
 /*li*/

 .navli:hover a {
     padding-left: 25px;
     padding-right: 25px;
     text-decoration-line: none;
 }
 /*li*/

 .navli:hover a:after {
     opacity: 0.8;
     /* transition: 0.8s; */
     text-decoration-line: none;
     right: 0;
 }